{# Leon Hennings 880827-0154 #}
{% extends "base.html" %}
{% block body %}

{% load bootstrap_toolkit %}
        <div class="row">
            <div class="row">
                    <div class="offset5 span">
                        <div id="avatar">
                            {{profile|safe}}
                        </div>
                    </div>
                </div>
        </div>
<div class="row">
    <div class="offset4 span3">
                Mail: <a href="mailto:{{userdata.email}}">{{userdata.email}}</a>
         <div style="float:left;">
        </div>
    </div>
                    
</div>
<div class="row">
{% if not_friend %}
{% ifnotequal request.user userdata %}
<form action="" method="post">
    {% csrf_token %}
    <div class="actions">
        <div style="float:left;">
            <div class="offset4 span3">
            <button type="submit" class="btn">
                LÄGG TILL VÄN
            </button>
            </div>
        </div>
    </div>
</form>
{% endifnotequal %}
{% else %}
{% ifequal request.user userdata %}
<div class="offset4 span3">
Det Är ju du!
</div>
{% else %}
<div class="offset4 span3">
{{userdata.username}} är din vän
</div>
{% endifequal %}
{% endif %}
</div>
{% endblock %}